.App {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}
/* Главный контейнер на весь экран */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Этот блок забирает всё свободное пространство, толкая футер вниз */
.main-wrapper {
  flex: 1; 
  display: flex;
  flex-direction: column;
}